<!DOCTYPE html>
<html>
  <head>
    <title>ChatBotBeta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-800 h-full">
      <%= render "layouts/nav" %>
      <div class="flex sm:divide-x divide-gray-400 xl:px-[10%]">
        <%= render "layouts/aside" %>
        <main class="w-full sm:basis-[75%] lg:basis-[80%] xl:basis-[85%]">
          <% flash.each do |type, msg| %>
            <div>
              <%= msg %>
            <div/>
          <% end %>
         <%= yield %>
        </main>
      </div>
  </body>
</html>
